form.auth-form(onsubmit=locals.$bind("this.submitForm(event.target)", {preventDefault: true}))
    MaterialTextField#auth-server(placeholder="http://myserver.com/", label="Server", onchange=locals.$bindValue("server"))
    MaterialTextField#auth-user(placeholder="My Username", label="User", onchange=locals.$bindValue("user"))
    MaterialTextField#auth-password(type="password", placeholder="My Password", label="Password", onchange=locals.$bindValue("password"))
    MaterialSelectionControl#auth-remember(type="switch", label="Remember me?", onchange=locals.$bindValue("shouldRemember"))
    MaterialButton Submit
